@import url(' href="https://fonts.googleapis.com/css?family=Tangerine');


body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
button { font-size: 12pt; padding: 30px; }